<section *ngIf="Login">
  <mat-card>
    <mat-card-title>Move YourSelf</mat-card-title>

    <form [formGroup]="formLogin">
      <label for="fname">Nome</label>
      <input formControlName="nome" type="text" placeholder="Nome" fxFlex>

      <label for="lname">Senha</label>
      <input formControlName="senha" type="password" placeholder="*****" fxFlex>

      <!-- (click)="login(formLogin.value)" -->
      <button mat-raised-button color="primary" [disabled]="!formLogin.valid" routerLink="/info">Entrar</button>
      <button mat-button routerLink="cadastro">Cadastrar</button>
    </form>
  </mat-card>
</section>

<section *ngIf="Cadastro">
  <mat-card>
    <mat-card-title>Move YourSelf</mat-card-title>

    <form [formGroup]="formCadastro">
      <label for="nome">Nome</label>
      <input formControlName="nome" type="text" placeholder="Nome completo">

      <label for="cpf">CPF</label>
      <input formControlName="cpf" type="number" placeholder="CPF">

      <label for="senha">Senha</label>
      <input formControlName="senha" type="password" placeholder="**********">

      <label for="dataNasc">Data de Nascimento</label>
      <input formControlName="dataNasc" type="date" placeholder="DD/MM/AAAA">

      <label for="endereco">Endereço</label>
      <input formControlName="endereco" type="text" placeholder="Rua/Av xx....">

      <label for="telefone">Telefone</label>
      <input formControlName="telefone" type="number" placeholder="(xx) xxxxx-xxxx">

      <label for="genero">Genero</label>
      <input formControlName="genero" type="" placeholder="Selecione um Género">

      <label for="email">E-mail</label>
      <input formControlName="email" type="email" placeholder="seu.email@dominio.com">

      <button mat-raised-button color="primary" (click)="Cadastrar(formCadastro.value)"
        [disabled]="!formCadastro.valid">Cadastrar</button>
      <button mat-button *ngIf="usuarioLogado.role == 'Adm'">Editar</button>
    </form>
  </mat-card>
</section>